<h3>New User</h3>
<form (ngSubmit) = "onSubmit()">
    <div class="form-group">
        <label>First name</label>
        <input [(ngModel)]="user.firstName" type = "text" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>
    <div class="form-group">
        <label>Last name</label>
        <input [(ngModel)]="user.lastName" type = "text" placeholder="Last Name" name="lastName" class="form-control" id="lastName">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input [(ngModel)]="user.email" type = "email" placeholder="email" name="email" class="form-control" id="email">
    </div>
    <button class="btn btn-success" type="submit">create</button>
</form>
