
<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <ul class = "navbar-nav"style="color:white">
    <li class="nav-item">
      <a routerLink="users" routerLinkActive="active"class="nav-link">Users</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-user" routerLinkActive="active"class="nav-link">Create</a>
    </li>
    
  </ul>
  <h1 class="text-center"style="color:white;margin-left: 450px">My App</h1>
</nav>

<div class="container">
  
  <router-outlet></router-outlet>
  
</div>
